img{
    height: 600px;
    width: 100%;
}
.btn-primary{
    background-color: skyblue;
}
.card{
    display: flex;

}
.base-footer{
    margin-top: 40px;
    height: 40vh;
    background-color: #1E293B;
}