<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        .sign{
            width: 600px;
            height: 400px;
            background-color: rgb(171, 206, 207);
            border-radius: 5px;
        }
        form{
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 400px;
        }
        form input{
            margin: 15px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="sign">
        <form action="" method="POST">
            {% csrf_token %}
            <label for="first_name">First name</label>
            <input type="text" name="first_name" placeholder="Enter first name" required>
            <label for="last_name">Last name</label>
            <input type="text" name="last_name" placeholder="Enter last name" required>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username" required>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="example@gmail.com" required>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="enter password" required>
            <label for="cpassword">Confirm Password</label>
            <input type="password" name="cpassword" placeholder="enter same password" required>

            <input type="submit" value="Signup">
            {% if messages %}
            <ul class="messages">
                {% for messages in messages %}
                <li style="list-style: none; color: red;">{{messages}}</li>
                {% endfor %}
            </ul>
            {% endif %}


            <p>already have an account? <a href="/accounts/login">login</a> </p>

        </form>
    </div>
</body>
</html>