{% extends 'base.html' %}
<link rel="stylesheet" href="/travel/static/css/about.css" >
{% block imageslide %}
    <img src="../static/image/mustang.jpg" class="img-fluid img-height-500px" alt="..." style="height: 700px; padding: 5px;">
    <h2 style="display: flex; justify-content: center; margin:40px;">Our Story</h2>
    <p style="display: flex; justify-content: center;">

        Consulting represents success at realizing the company is going in the wrong direction. The only time the company fails is when it is not possible to do a turnaround anymore. <br> We help companies pivot into more profitable directions where they can expand and grow. It is inevitable that companies will end up making a few mistakes; we help them correct these mistakes. <br>
        
        Consulting represents success at realizing the company is going in the wrong direction. The only time the company fails is when it is not possible to do a turnaround anymore. <br> We help companies pivot into more profitable directions where they can expand and grow. It is inevitable that companies will end up making a few mistakes; we help them correct these mistakes.
    </p>

    <div class="image-card" style="display: flex;">
        <img src="../static/image/tournhak.jpg" class="rounded float-start" alt="..." style=" padding: 50px;">
        <img src="../static/image/tourpok.jpg" class="rounded float-end" alt="..." style="padding: 50px;">
    </div>
{% endblock %}
